<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://mybatis.org/schema/mybatis-spring 
                           http://mybatis.org/schema/mybatis-spring-1.2.xsd"
      >

    <mybatis-spring:scan base-package="com.tote.gestion.gestionasignaturas.DAO" />

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost/pruebaautentia?useSSL=true"/>
        <property name="username" value="root"/>
        <property name="password" value="123456789"/>
    </bean>

    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis-config.xml" />
    </bean>

     <bean id="cursoView" class="com.tote.gestion.gestionasignaturas.view.CursoView"></bean>
    
    <bean id="profesorView" class="com.tote.gestion.gestionasignaturas.view.ProfesorView"></bean>
    
</beans>
